<h2>Product Details</h2>

<div class="font-semibold text-xl">
    @if (id != 'add') {
        Edit Product
    } @else {
        Add Product
    }
</div>

<form [formGroup]="productForm">
    <div class="card flex flex-col gap-4">
        <p-fluid>
            <div class="flex mt-8">
                <div class="card flex flex-col gap-6 w-full">
                    <!-- names -->
                    <div class="flex flex-col md:flex-row gap-6">
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="name-en">English Name</label>
                            <input pInputText formControlName="name_en" id="name-en" type="text" [class.p-invalid]="isFieldInvalid('name_en')" />
                            <small class="text-red-500" *ngIf="isFieldInvalid('name_en')">{{ getFieldErrorMessage('name_en') }}</small>
                        </div>
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="name-ar">Arabic Name</label>
                            <input pInputText formControlName="name_ar" id="name-ar" type="text" [class.p-invalid]="isFieldInvalid('name_ar')" />
                            <small class="text-red-500" *ngIf="isFieldInvalid('name_ar')">{{ getFieldErrorMessage('name_ar') }}</small>
                        </div>
                    </div>

                    <!-- brand -->
                    <div class="flex flex-col gap-2 w-full">
                        <label for="brand">Brand</label>
                        <select formControlName="brand_id" class="border rounded-md px-4 py-2 w-full text-sm focus:outline-none focus:ring-2 focus:ring-blue-500" [class]="{ 'border-red-500': isFieldInvalid('brand_id') }">
                            <option value="" disabled selected>Select a Brand</option>
                            <option *ngFor="let brand of brands" [value]="brand.id">
                                {{ brand.name_en }}
                            </option>
                        </select>
                        <small class="text-red-500" *ngIf="isFieldInvalid('brand_id')">{{ getFieldErrorMessage('brand_id') }}</small>
                    </div>

                    <!-- descriptions -->
                    <div class="flex flex-wrap w-full">
                        <label for="description_en" class="block mb-1">English Description</label>
                        <textarea pTextarea id="description_en" formControlName="description_en" rows="4" [class.p-invalid]="isFieldInvalid('description_en')"></textarea>
                        <small class="text-red-500" *ngIf="isFieldInvalid('description_en')">{{ getFieldErrorMessage('description_en') }}</small>
                    </div>

                    <div class="flex flex-wrap w-full">
                        <label for="description_ar" class="block mb-1">Arabic Description</label>
                        <textarea pTextarea id="description_ar" formControlName="description_ar" rows="4" [class.p-invalid]="isFieldInvalid('description_ar')"></textarea>
                        <small class="text-red-500" *ngIf="isFieldInvalid('description_ar')">{{ getFieldErrorMessage('description_ar') }}</small>
                    </div>

                    <!-- details -->
                    <div class="flex flex-wrap w-full">
                        <label for="details_en" class="block mb-1">English Details</label>
                        <textarea pTextarea id="details_en" formControlName="details_en" rows="4" [class.p-invalid]="isFieldInvalid('details_en')"></textarea>
                        <small class="text-red-500" *ngIf="isFieldInvalid('details_en')">{{ getFieldErrorMessage('details_en') }}</small>
                    </div>

                    <div class="flex flex-wrap w-full">
                        <label for="details_ar" class="block mb-1">Arabic Details</label>
                        <textarea pTextarea id="details_ar" formControlName="details_ar" rows="4" [class.p-invalid]="isFieldInvalid('details_ar')"></textarea>
                        <small class="text-red-500" *ngIf="isFieldInvalid('details_ar')">{{ getFieldErrorMessage('details_ar') }}</small>
                    </div>

                    <!-- countries and where to buy -->
                    <p-fieldset legend="Where to Buy">
                        <p>URL must be valid (start with http or https)</p>
                        <div class="grid gap-6" formArrayName="countries">
                            <div *ngFor="let countryControl of countriesControls; let i = index" [formGroupName]="i" class="flex flex-col md:flex-row gap-6 my-4">
                                <div class="flex flex-wrap gap-2 w-full">
                                    <label for="country-name-{{ i }}">Country Name</label>
                                    <input readonly pInputText [placeholder]="countriesList[i]?.name_en" id="country-name-{{ i }}" type="text" />
                                </div>

                                <div class="flex flex-wrap gap-2 w-full">
                                    <label for="where-to-buy-{{ i }}">Where To Buy</label>
                                    <input pInputText id="where-to-buy-{{ i }}" type="text" formControlName="where_to_buy_link" />
                                </div>

                                <div class="flex flex-wrap gap-2 w-full">
                                    <label for="available_in_pharmacies-{{ i }}">Available in Pharmacies</label>
                                    <p-checkbox id="available_in_pharmacies-{{ i }}" [formControl]="getAvailableInPharmaciesControl(i)" [trueValue]="1" [falseValue]="0" [binary]="true"></p-checkbox>
                                </div>
                            </div>
                        </div>
                        <small class="text-red-500" *ngIf="isFieldInvalid('countries')">{{ getFieldErrorMessage('countries') }}</small>
                    </p-fieldset>

                    <!-- meta -->
                    <p-fieldset class="my-5" legend="Meta Data">
                        <div class="flex flex-col md:flex-row gap-6 my-4">
                            <div class="flex flex-wrap gap-2 w-full">
                                <label for="meta_description_en">English Meta Description</label>
                                <input pInputText formControlName="meta_description_en" id="meta_description_en" type="text" [class.p-invalid]="isFieldInvalid('meta_description_en')" />
                                <small class="text-red-500" *ngIf="isFieldInvalid('meta_description_en')">{{ getFieldErrorMessage('meta_description_en') }}</small>
                            </div>
                            <div class="flex flex-wrap gap-2 w-full">
                                <label for="meta_description_ar">Arabic Meta Description</label>
                                <input pInputText formControlName="meta_description_ar" id="meta_description_ar" type="text" [class.p-invalid]="isFieldInvalid('meta_description_ar')" />
                                <small class="text-red-500" *ngIf="isFieldInvalid('meta_description_ar')">{{ getFieldErrorMessage('meta_description_ar') }}</small>
                            </div>
                        </div>

                        <div class="flex flex-col md:flex-row gap-6 my-4">
                            <div class="flex flex-wrap gap-2 w-full">
                                <label for="meta_keywords_en">English Meta Keywords</label>
                                <input pInputText formControlName="meta_keywords_en" id="meta_keywords_en" type="text" [class.p-invalid]="isFieldInvalid('meta_keywords_en')" />
                                <small class="text-red-500" *ngIf="isFieldInvalid('meta_keywords_en')">{{ getFieldErrorMessage('meta_keywords_en') }}</small>
                            </div>
                            <div class="flex flex-wrap gap-2 w-full">
                                <label for="meta_keywords_ar">Arabic Meta Keywords</label>
                                <input pInputText formControlName="meta_keywords_ar" id="meta_keywords_ar" type="text" [class.p-invalid]="isFieldInvalid('meta_keywords_ar')" />
                                <small class="text-red-500" *ngIf="isFieldInvalid('meta_keywords_ar')">{{ getFieldErrorMessage('meta_keywords_ar') }}</small>
                            </div>
                        </div>

                        <div class="flex flex-col md:flex-row gap-6 my-4">
                            <div class="flex flex-wrap gap-2 w-full">
                                <label for="meta_title_en">English Meta Title</label>
                                <input pInputText formControlName="meta_title_en" id="meta_title_en" type="text" [class.p-invalid]="isFieldInvalid('meta_title_en')" />
                                <small class="text-red-500" *ngIf="isFieldInvalid('meta_title_en')">{{ getFieldErrorMessage('meta_title_en') }}</small>
                            </div>
                            <div class="flex flex-wrap gap-2 w-full">
                                <label for="meta_title_ar">Arabic Meta Title</label>
                                <input pInputText formControlName="meta_title_ar" id="meta_title_ar" type="text" [class.p-invalid]="isFieldInvalid('meta_title_ar')" />
                                <small class="text-red-500" *ngIf="isFieldInvalid('meta_title_ar')">{{ getFieldErrorMessage('meta_title_ar') }}</small>
                            </div>
                        </div>
                    </p-fieldset>

                    <!-- product Images -->
                    <p-fieldset legend="Product Images">
                        <p>Don't forget to upload images before submitting. {{ displayedImages.length }}</p>
                        <div *ngIf="displayedImages.length > 0" class="grid grid-cols-3 gap-4">
                            <div *ngFor="let image of displayedImages">
                                <img [src]="image" alt="Product Image" class="w-32 h-32 object-cover" />
                            </div>
                        </div>
                        <p-fileupload class="my-5" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUpload($event)" [multiple]="true" accept="image/*" maxFileSize="1000000" mode="advanced">
                            <ng-template #empty>
                                <div>Drag and drop files here to upload.</div>
                            </ng-template>
                            <ng-template #content>
                                <ul *ngIf="uploadedFiles.length">
                                    <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                                </ul>
                            </ng-template>
                        </p-fileupload>
                        <small class="text-red-500" *ngIf="isFieldInvalid('images')">{{ getFieldErrorMessage('images') }}</small>
                    </p-fieldset>

                    <!-- Thumbnail -->
                    <p-fieldset legend="Thumbnail">
                        <img *ngIf="displayedThumbnail" [src]="displayedThumbnail" alt="Thumbnail" class="w-32 h-32 object-cover mb-2" />
                        <p-fileUpload name="thumbnail" mode="basic" customUpload="true" (onSelect)="onFileSelect($event, 'thumbnail')"> </p-fileUpload>
                        <small class="text-red-500" *ngIf="isFieldInvalid('thumbnail')">{{ getFieldErrorMessage('thumbnail') }}</small>
                    </p-fieldset>

                    <!-- Submit -->
                    <div class="flex justify-end">
                        <p-button (click)="submitForm()" label="Submit" type="Submit" size="large" [fluid]="false" [disabled]="productForm.invalid"></p-button>
                    </div>
                </div>
            </div>
        </p-fluid>
    </div>
</form>
