<h2>Brand Details</h2>

<form [formGroup]="CountryForm" (ngSubmit)="submitForm()">
    <div class="card flex flex-col gap-4">
        <div class="font-semibold text-xl">
            @if (id != 'add') {
                Edit Country
            } @else {
                Add Country
            }
        </div>

        <!-- English Name -->
        <div>
            <label for="name_en" class="flex items-center mb-2">English Name</label>
            <input
                formControlName="name_en"
                pInputText
                id="name_en"
                type="text"
                class="w-full"
                [class]="{
                    'p-invalid border-red-500': isFieldInvalid('name_en'),
                    border: true
                }"
            />
            <small class="text-red-500" *ngIf="isFieldInvalid('name_en')">
                {{ getFieldErrorMessage('name_en') }}
            </small>
        </div>

        <!-- Arabic Name -->
        <div>
            <label for="name_ar" class="flex items-center mb-2">Arabic Name</label>
            <input
                formControlName="name_ar"
                pInputText
                id="name_ar"
                type="text"
                class="w-full"
                [class]="{
                    'p-invalid border-red-500': isFieldInvalid('name_ar'),
                    border: true
                }"
            />
            <small class="text-red-500" *ngIf="isFieldInvalid('name_ar')">
                {{ getFieldErrorMessage('name_ar') }}
            </small>
        </div>

        <p-button label="Submit" type="Submit" [fluid]="false"></p-button>
    </div>
</form>
