<h2>Our Categories</h2>
<div class="card">
    <div class="flex justify-end">
        <p-button label="Add Category" [routerLink]="['/pages/categories', 'add']" class="ms-auto mb-5" [fluid]="false"></p-button>
    </div>

    <app-table-data
        [data]="categoriesList()"
        [loading]="loading()"
        [columns]="tableColumns"
        [globalFilterFields]="globalFilterFields"
        editRoutePrefix="/pages/categories"
        [hasDelete]="true"
        deleteEntityName="category"
        (delete)="deleteCategory($event)">
    </app-table-data>
</div>
