
<app-page-header [title]="id() === 'add' ? 'Add Admin' : 'Edit Admin'"></app-page-header>

<div class="card p-6 flex flex-col gap-6">
    @if(loading()){
        <div class="flex items-center justify-center h-100">
           <p-progress-spinner ariaLabel="loading" />
        </div>
    } 
    @else {

    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-5">

        <!-- Name -->
        <div class="flex flex-col gap-2">
            <label for="name" class="font-medium required">Name</label>
            <input id="name" pInputText formControlName="name" placeholder="Enter admin name"
                [ngClass]="{ 'p-invalid': isInvalid('name') }" />
            <small class="text-red-500" *ngIf="isInvalid('name')">
                {{ getError('name') }}
            </small>
        </div>

        <!-- Email -->
        <div class="flex flex-col gap-2">
            <label for="email" class="font-medium required">Email</label>
            <input id="email" pInputText formControlName="email" placeholder="Enter admin email"
                [ngClass]="{ 'p-invalid': isInvalid('email') }" />
            <small class="text-red-500" *ngIf="isInvalid('email')">
                {{ getError('email') }}
            </small>
        </div>

        <!-- Password (only show on create) -->
        <div class="flex flex-col gap-2" *ngIf="id() === 'add'">
            <label for="password" class="font-medium required">Password</label>
            <!-- <input id="password" pInputText type="password" formControlName="password" placeholder="Enter password"
                [ngClass]="{ 'p-invalid': isInvalid('password') }" /> -->
            <p-password id="password" formControlName="password" placeholder="Password"
                [ngClass]="{ 'p-invalid': isInvalid('password') }" [toggleMask]="true" styleClass="mb-4" [fluid]="true"
                [feedback]="false"></p-password>

            <small class="text-red-500" *ngIf="isInvalid('password')">
                {{ getError('password') }}
            </small>
        </div>

        <!-- Submit Button -->
        <div class="flex justify-end mt-4">
            <p-button [label]="id() === 'add' ? 'Create Admin' : 'Update Admin'" type="submit"
                [disabled]="adminForm.invalid" [loading]="submitting()"></p-button>
        </div>
    </form>
    }
</div>